@model Bloggie.Web.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<!--Hero section to users for our Blogs-->
<div class="container col-xxl-8 px-4 py-20">
    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-lg-6">
            <h1 class="fw-bold lh-1 mb-3" style="font-size: 1.75rem;color: #002B5B">
                Bloggie – Connecting All Educational Institutes of Janab Akbaruddin Owaisi with One Voice
            </h1>

            <p class="lead" style="font-family: 'Georgia', serif; color: #002B5B; font-size: 1.2rem;">
                Bloggie is the official platform to explore and stay updated with the latest blog posts, events, and announcements from various prestigious educational institutes under the leadership of Janab Akbaruddin Owaisi, Chairman of Salar-E-Millat Educational Trust. This portal serves as a unified source for regular updates, student activities, campus highlights, and institutional achievements across all SMET institutions including DCET, SMET, and others.
            </p>
        </div>

        <div class="col-12 col-lg-6">
            <img src="~/images/admin1.jpg" alt="Blog Image" alt="Bloggie - Dev blogs"
                 class="d-block mx-lg-auto img-fluid" width="300" />  
        </div>
    </div>
</div>

<!--Displaying all blogs with Tags above on Home page below Hero section-->

<div class="container">
    <div class="row justify-content-center">
         <div class="col-6 d-flex">

             <!--This below If block Edited for Click operation of Tags for diff blogs-->
            @if (Model != null && Model.Tags.Any())
            {
                foreach (var tag in Model.Tags)
                {
                    <a class="badge me-1 text-decoration-none @(ViewBag.SelectedTag == tag.Name ? "bg-primary text-white" : "bg-dark text-white")"
                       asp-controller="Home"
                       asp-action="Index"
                       asp-route-tag="@tag.Name">
                        @tag.Name
                    </a>
                }
            }

            
        </div>
    </div>

</div>
<br />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            @if (Model != null && Model.BlogPosts.Any())
            {
                foreach (var blogPost in Model.BlogPosts)
                {
                    <div class="mb-5 bg-light box-shadow p-5">
                        <img src="@blogPost.FeaturedImageUrl" alt="@blogPost.Heading"
                             class="mb-2 d-block img-fluid" />

                        <h2 class="mb-4">@blogPost.Heading</h2>
                        <p class="mb-4">
                            Author: @blogPost.Author
                            <br />
                            Published Date: @blogPost.PublishedDate.ToShortDateString()
                        </p>

                        <p class="mb-4">
                            @foreach (var tag in blogPost.Tags)
                            {
                                <span class="badge bg-secondary me-1">@tag.Name</span>
                            }
                        </p>

                        <p class="mb-4">@blogPost.ShortDescription</p>

                        <a class="btn btn-dark"
                           asp-area=""
                           asp-controller="Blogs"
                           asp-action="Index"
                           asp-route-urlHandle="@blogPost.UrlHandle">Read More</a>
                    </div>

                }
            }
        </div>
    </div>
</div>